* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #3f3fff, #38afff);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.roller-dice-container {
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.roller-dice-container h1 {
  margin-bottom: 1rem;
}

.roller-dice-container label {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.roller-dice-container label span {
  margin-right: 0.3rem;
}

.roller-dice-container input {
  width: 60px;
  font-size: .9rem;
  text-indent: .2rem;
  margin-right: 0.3rem;
  padding: .3rem;
}

.roller-dice-container button {
  color: #fff;
  background-color: #3f3fff;
  border: none;
  border-radius: 5px;
  padding: .4rem .5rem;
  cursor: pointer;
  transition: transform .3s;
}

.roller-dice-container button:hover {
  transform: scale(1.05);
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2rem;
}

.result-container p {
  font-size: 1.2rem;
  font-weight: 500;
}

.result-container span {
  font-size: 2rem;
  color: #3f3fff;
}

.result-container div img {
  margin-top: 1rem;
  margin-right: .3rem;
  width: 50px;
  height: 50px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}